body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#header {
    position: fixed;
    background: rgb(160,240,180);
    width: 100%;
    height: 80px;
    padding: 0px;
    top: 0px;
    z-index: 9;
}

#header-contents {
    margin: 0;
    padding: 10px;
    list-style-type: none;
    float: right;
    vertical-align: middle;
}


#header-contents li {
    position: relative;
    list-style-type: none;
    float: left;
    padding-right: 10px;
    
}

#initials {
    font-family: sans-serif;
    font-size: 50px;
    color: aliceblue;
    text-decoration: none;
}

#home-icon {
    width: 51px;
    height: 51px;
}

#subheader {
    position: fixed;
    background: lightgray;
    height: auto;
    width: 100%;
    top: 80px;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    z-index: 10;
}

#subheader-content {
    position: relative;
    font-family: sans-serif;
}
#menu-icon {
    position: fixed;
    left: 10px;
    top: 18px;
    width: 50px;
    height: 50px;
    z-index: 10;
}

#navbox {
    position: fixed;
    background: rgb(40,40,40);
    width: 200px;
    height: 100%;
    left: -200px;
    top: 80px;
    z-index: 10;
    transition: left ease-out .25s
}

#nav {
    position: absolute;
    list-style: none;
    padding-left: 10px;
    top: -10px;
}

#nav li a {
    font-family: sans-serif;
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    padding-left: none;
}

#nav li {
    margin-top: 5px;
}

#navbox.open{
    left: 0px;
}

#content {
    position: absolute;
    top: 155px;
    left: 0px;
    right: 0px;
    width: 90%;
    font-family: sans-serif;
    font-size: 80%;
    text-align: center;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
}

#shooting-game {
    position: relative;
    padding: 0px;
    top: 30px;
}

.navpic {
    height: 24px;
    width: 24px;
    bottom: 12px;
    padding-right: 2px;
}

.navItem {
    display: inline-block;
    vertical-align: text-top;
}


















