body {
	overflow-x: hidden;
}

a {
	color: blue;
}

a:hover {
	text-decoration: underline;
}

#page-container {
 	max-width: 1280px;
	width: 80vw;
	margin: 0px auto;

	display: flex;
	flex-direction: row;
}

#nav-container {
	min-height: 256px;
	width: 256px;
	min-width: 256px;
	max-width: 256px;

	display: flex;
	flex-direction: column;

	padding: 0px 12px;
	margin: auto;
	margin-top: 128px;

	font-size: 10pt;

	border: 2px solid black;
	border-radius: 6px;
	box-shadow: 5px 5px;
}

#page-content {
	height: calc(100vh - 128px);
	flex-grow: 1;
	overflow-y: scroll;
	z-index: 1;
	/*scrollbar-width: none;*/
	margin-top: 128px;
	margin-left: 32px;
	padding-right: 12px;
}

#page-content::-webkit-scrollbar {
  display: none;
}

#page-content > p:first-of-type {
	margin-top: 0px;
}

#nav-container > ul:first-of-type {
	margin-top: 0px;
}

.nav-page-list {
	display: flex;
	flex-direction: column;
}

.nav-page-list > a,span {
	margin-top: 16px;
	color: black;
}

.nav-page-list > a:hover {
	text-decoration: underline;
}

ul {
	padding-left: 0px;
}

ul > ul {
	padding-left: 24px;	
}

ul > li {
	margin-left: 18px;
}

.post-title {
	margin-top: 0px;
}

.highlight {
	background: #2b2b2b;
	padding: 2px 16px;
	border-radius: 12px;
	/*color: white;*/
	font-size: 12pt;
	overflow-x: auto;
}

@media (max-width: 1024px) {
	#page-container {
		flex-direction: column;
	}

	#page-content {
		height: auto;
		overflow-y: auto;
		margin-left: 0px;
		margin-top: 32px;
	}

	#nav-container {
		margin-left: 0px;
		width: auto;
	}

	#nav-right {
		visibility: hidden;
		max-height: 0px;
	}

}