---
layout: default
permalink: /
categoryList:
    - notes
    - projects
---

<div class="fullpage center-container">
	<div id="animation-trigger" class="column">
        <div class='hover-animation'>
          <div class='grow-animation'>
            <div class='rotate-animation'>
				<img id="index-img" class="circle-img" src="assets/images/me.jpg">
            </div>
          </div>
        </div>
		<h1> Neil Toledo </h1>
		<div id="home-btns" class="row">
			<a class="rect-btn height32 center-container" href="/blog/mmorpg/mmorpg-project-overview.html"> <span>mmorpg</span> </a>
			<a class="rect-btn height32 center-container" href="/portfolio"> <span>portfolio</span> </a>
			<div id='category-link-container' class="rect-btn height32 center-container nav-container" href="#">
				<span>posts</span>
				<div class="column nav-list">
					{% for category in page.categoryList %}
						{% assign x = '/blog/' | append: category %}
						<a class="rect-btn center-container" href={{ x }}> <span>{{ category }}</span> </a>
					{% endfor %}
<!-- 					{% for category in site.categories %}
						{% assign x = '/blog/' | append: category[0] %}
						<a class="rect-btn center-container" href={{ x }}> <span>{{ category[0] }}</span> </a>
					{% endfor %} -->
				</div>
			</div>

		</div>
		<div id="home-links" class="row">
			<span class="sm-link"> <a href="https://github.com/nnt1054"> github </a> </span>
			<span class="sm-link"> <a href="/assets/images/resume.pdf"> resumé.pdf </a> </span>
			<span class="sm-link"> <a href="mailto:ntoledo@berkeley.edu"> ntoledo@berkeley.edu </a> </span>
		</div>
	</div>
</div>