.page-container {
  width: 80vw;
  margin: 0px auto;
}

.page-container > * {
  margin: 0px auto;
}

header {
  width: 100%;
  height: 128px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header > * {
  margin: auto 0px;
}

#navbar-toggle {
  display: none;
}

.mr-auto {
  margin: auto;
}

.navbar-links {
  display: flex;
  flex-direction: row;
}

.navbar-link {
  height: 32px;
  list-style: none;
  text-decoration: none;
  display: flex;
}

.navbar-link > a {
  margin: auto;
}

.navbar-link:hover {
  /*text-decoration: underline;*/
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
}

#front-section {
  min-height: 38vh;
}

.page-section {
  margin-top: 128px;
}

.section-title {
  /*margin-bottom: 0px;*/
}

.section-image {
  display: flex;
}

.section-image > img {
  margin: auto auto auto 0px;
  height: 256px;
  border: 2px solid black;
  border-radius: 50%;
}

.section-content {
  display: flex;
  flex-direction: column;
  width: 67%;
}

.navbar-link {
  height: 32px;
  list-style: none;
  text-decoration: none;
  display: flex;
  margin-left: 5px;
}

.navbar-link > a {
  margin: auto;
}

.product-container > img {
  height: 256px;
  margin-left: 5px;
  margin-right: 32px;
  border: 2px solid black;
  box-shadow: 7px 7px rgb(0,0,0,1);
  transform: translateY(-7px) translateX(-7px);
}

.product-content {
  justify-content: space-between;
}

.product-content > h2 {
  margin: 0px;
}

/*.product-content > p {
  margin-top:;
}*/

.product-scrum {
  margin-top: 16px;
  margin-bottom: 48px;
  justify-content: space-between;
}

.scrum-list {
  width: 20%;
}

.scrum-list > h2 {
  height: 32px;
  width: 15vw;
  max-width: 200px;
  border: 2px solid black;
  box-shadow: 7px 7px rgb(0,0,0,1);
  display: flex;
}

.scrum-list > h2 > span {
  margin: auto;
  font-size: 14pt;
}

.scrum-list-items {
  padding-left: 20px;
  height: 256px;
  overflow-y: scroll;
  /*background: red;*/
}

.scrum-list-items > li {
  font-size: 12pt;
  margin: 12px auto;
}

.projects-container {
  justify-content: space-around;
}

.project-entry {
  width: 25vw;
  margin-bottom: 32px;
  border: 2px solid black;
  box-shadow: 7px 7px rgb(0,0,0,1);
}

.project-entry > img {
  border-bottom: 2px solid black;
  width: 100%;
}

.project-entry > h3 {
  margin-left: 16px;
}

@media (max-width: 700px) {
}





p {
  font-size: 14pt;
}

.hover-underline:hover {
  cursor: pointer;
  text-decoration: underline;
}