---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

	<header class="post-header">
	<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
	</header>

	<link rel="stylesheet" href="{{ "/assets/css/posts.css" | prepend: site.baseurl }}">
	<a id="back-id" class="rect-btn center-container height32 back-btn" href={{ page.back }}> <span>&#8592Back</span> </a>

	<div class="post-content category-desc" itemprop="articleBody">
	{{ content }}
	</div>

	{% assign posts = site.categories[page.categoryName] %}
	
	{% assign allTags = '' | split: '' %}
	{% for tag in site.tags %}
		{% assign tagName = tag | first %}
		{% assign allTags = allTags | push: tagName %}
	{% endfor %}

	{% assign pageTags = page.tagList | default: allTags %}
	{% for tag in pageTags %}
		{% assign t = tag %}
		{% assign numPosts = 0 %}

		{% for post in posts %}
			{% if post.tags contains t %}
				{% assign numPosts = numPosts | plus: 1 %}
			{% endif %}
		{% endfor %}

		{% if numPosts > 0 %}
		<span class='tagName'>{{ t }} ({{ numPosts }} Posts)</span>
		<ul class='postList'>
		{% for post in posts %}
		  {% if post.tags contains t %}
		  <li>
		    <a href="{{ post.url }}">{{ post.title }}</a>
		  </li>
		  <br>
		  {% endif %}
		{% endfor %}
		</ul>
		<br>
		{% endif %}

	{% endfor %}

</article>