---
layout: default
tagList:
 - Component Design Documents
 - Game Design Documents
 - CI/CD and Infrastructure

---


<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <link rel="stylesheet" href="{{ '/assets/css/documentation.css' | prepend: site.baseurl }}">

    {% include navbar.html %}

    <div id="page-container">

        <div id="nav-container">
            <span> Pages </span>
            <ul class='nav-page-list'>

                {% assign posts = site.categories[page.category] %}

                {% assign allTags = '' | split: '' %}

                {% assign pageTags = layout.tagList | default: allTags %}

                <!-- get posts without parent -->
                {% for post in posts %}
                    {% if post.tags == empty %}
                        <a href="{{ post.url }}"> • {{ post.title }} </a>
                    {% endif %}
                {% endfor %}

                <!-- get posts with parent tag -->
                {% for tag in pageTags %}
                    {% assign t = tag %}
                    {% assign numPosts = 0 %}

                    {% for post in posts %}
                        {% if post.tags contains t %}
                            {% assign numPosts = numPosts | plus: 1 %}
                        {% endif %}
                    {% endfor %}

                    {% if numPosts > 0 %}
                    <span> {{ tag }} </span>
                    <ul class='nav-page-list'>
                    {% for post in posts %}
                        {% if post.tags contains t %}
                            <a href="{{ post.url }}"> • {{ post.title }} </a>
                        {% endif %}
                    {% endfor %}
                    </ul>
                    {% endif %}

                {% endfor %}


            </ul>
            
        </div>

        <div id="page-content" itemprop="articleBody">
            <header class="post-header">
                <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
                <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
            </header>
            {{ content }}
        </div>

    </div>
</article>